.info {
    margin-bottom: 150px;

    &_wrapper {
        display: flex;
    }

    &_img {
        
        margin-right: 60px;
        flex-basis: 570px;
        object-fit: cover;
    }
    &_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-item {
            
            .item-title {
                margin-bottom: 10px;
                font-size: 16px;

                text-transform: uppercase;
            }
            .item-text {
                width: 450px;
                
            }

        }

    }
}